<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Apple Device Lookup.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C165F58B75F1AE70C91172C516260E5840612772</string>
				<key>dateExpires</key>
				<string>8/31/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C165F58B75F1AE70C91172C516260E5840612772</string>
						<key>dateExpires</key>
						<string>8/31/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9F4WXH899R</string>
						<key>name</key>
						<string>Brianna Lee</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C165F58B75F1AE70C91172C516260E5840612772</string>
						<key>dateExpires</key>
						<string>8/31/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SWXMLHash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9F4WXH899R</string>
						<key>name</key>
						<string>Brianna Lee</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9F4WXH899R.xyz.owly.Apple-Device-Lookup</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9F4WXH899R</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>9F4WXH899R.xyz.owly.Apple-Device-Lookup</string>
				</array>
			</dict>
			<key>name</key>
			<string>Apple Device Lookup.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>36d9445a-5e2b-4257-a6d3-028e45d8034f</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9F4WXH899R</string>
				<key>name</key>
				<string>Brianna Lee</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
